body, h1, p, ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #6b6c6d31;
}

header {
    background-color: #ffffff;
    color: #0e0d0d;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin-top: 10px;
    font-size: 50px;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
    transition: text-shadow 0.3s ease;
}

header h1:hover {
    cursor: pointer;
    text-shadow: 0 0 10px rgba(133, 132, 132, 0.8); 
}

#container {
    width: 35em;
    height: 46em;
    margin-top: 25px;
    margin-left: 620px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    font-size: 20px;
    padding: 12px 20px;
    margin-top: 600px;
    margin-left: 470px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#botaoMais:hover {
    background-color: #45a049; 
}


#container p {
    margin-left: 100px; 

}

#container img {
    width: 70px; 
    height: 50px;
    border-radius: 20px;
}

#cardAnimal {
    padding: 5px 200px 0px 5px;
    margin-left: 500px;
    margin-top: -300px;
    background-color: #E0E0E0; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.animal-container {
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    padding-right: 420px;
}

.animal-container img {
    width: 100px;
    height: 70px;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 10px;
    object-fit: cover;
} 

.animal-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.animal-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}