body, h1, p, ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #6b6c6d31;
}

header {
    background-color: #ffffff;
    color: #0e0d0d;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin-top: 10px;
    font-size: 50px;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
}

#container {
    justify-content: center;
    display: flex;
    align-items: center; /* Adicionado para centralizar verticalmente */
    position: relative;
    background-color: #fff;
    padding: 40px; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40em;
    height: 46em;
    margin-top: 25px;
    margin-left: 610px;
}

button {
    font-size: 20px;
    padding: 12px 20px;
    margin-top: 600px;
    margin-left: 470px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}