body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #6b6c6d31;
}

header {
    background-color: #ffffff;
    color: #0e0d0d;
    padding: 1em;
    text-align: center;
}

header h1 {
    margin-bottom: 0.2em; 
    margin-top: 0.2em;
    font-size: 50px;
}

#informacoes {
    margin: 2dvb;
}

.nomeCadastrados {
    color: #0CB913;
}

.nomeDoentes {
    color: #B90C0C;
}

.nomeGestante {
    color: #F363FF;
}

.totalAnimal {
    left: 4em;
    position: relative;
    background-color: #fff;
    padding: 40px; 
    margin-bottom: 40px; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 105em; 
}

.totalAnimal::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px; 
    height: 100%;
    width: 20px;
    background-color: #0CB913;
    border-radius: 8px 0 0 8px;
}

#total-animais {
    align-self: flex-end;
    font-size: 4em;
    font-weight: bold; 
    margin-right: 4em;
    margin-top: -1em;
    color: #0CB913;
}

.totalDoentes {
    left: 4em;
    position: relative;
    background-color: #fff;
    padding: 40px; 
    margin-bottom: 40px; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 105em; 
}

.totalDoentes::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px; 
    height: 100%;
    width: 20px;
    background-color: #B90C0C;
    border-radius: 8px 0 0 8px;
}

#total-doentes {
    align-self: flex-end;
    font-size: 4em;
    font-weight: bold; 
    margin-right: 4em;
    margin-top: -1em;
    color: #B90C0C;
}


.totalGestante  {
    left: 4em;
    position: relative;
    background-color: #fff;
    padding: 40px; 
    margin-bottom: 40px; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 105em; 
}

.totalGestante ::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px; 
    height: 100%;
    width: 20px;
    background-color: #F363FF;
    border-radius: 8px 0 0 8px;
}

#total-gestantes {
    align-self: flex-end;
    font-size: 4em;
    font-weight: bold; 
    margin-right: 4em;
    margin-top: -1em;
    color: #F363FF;
}


h2 {
    font-size: 30px;
}